.admin-container {
  display: flex;
  flex-direction: row;

  .admin-sidebar {
  }
  .admin-content {
    width: 100%;
    .content-dashboard {
      border: 1px solid rgb(197, 54, 54);
    }
    .content-manager-user {
      border: 1px solid blue;
    }
  }
}
