.sidebar-container {
  display: flex;
  height: 100vh;
  .toggle {
    font-size: 25px;
    padding-left: 10px;
    color: #1331b6;
  }
  .footer {
    border-top: 1px solid #7f8c8d;
    .text-footer {
      font-size: 14px;
      color: #214b68;
      border: 1px solid wheat;
      border-radius: 5px;
      background-color: #d2d9db;
      padding: 5px;
      position: fixed;
      bottom: 0;
      margin-left: 50px;
      margin-bottom: 10px;
    }
    :hover {
      background-color: #1f98b6;
      color: rgb(190, 43, 43);
      cursor: pointer;
    }
  }

  // .main-content {
  //   flex: 1;
  //   padding: 20px;
  //   background-color: #ecf0f1;
  // }
}
